.sidebar-icon {
  margin-right: 1rem !important;
  margin-top: -4px !important;
  padding: 6px 0;
}
.main-bill {
  flex: 0 0 auto;
  max-width: 320px;
}
.mainbillclass {
  margin-top: 58px;
}
@media print {
  .hide-on-print {
    display: none;
  }
  .mainbillclass {
    margin-top: 0px;
  }
  header {
    display: none;
  }
}
