.text-style {
  font-family: Aclonica;
  text-shadow: rgb(108 103 103) 1.2px 2px 3px;
  color: rgb(45 2 12 / 86%);
}
.nav-bg {
  background-color: #de6378;
}
.nav-link {
  color: #000 !important;
}
.item-logo {
  width: 70px !important;
  height: 70px !important;
}
.w-30 {
  width: 30% !important;
}

@media only screen and (max-width: 600px) {
}
input:checked + .card {
  background-color: #a8a2a26b !important;
}
.mrp {
  color: #535665;
  text-decoration: line-through;
}
.price {
  font-size: 16px;
  font-weight: 500;
}
.h-90 {
  height: 90% !important;
}
.pt-2px {
  padding-top: 2px !important;
}
.p-qty {
  padding: 7px 13px 19px 13px !important;
}
